/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}

img {
    max-width: 100%;
}
/* GLOBAL SELECTORS */

.rcorner {
    border-radius: 50px 8px;
    border: solid 2px #F20089;
}

/* inverse of .rcorner for styling */
.opp-corner {
    border-radius: 8px 40px;
    border: solid 2px #F20089;
}

.shadow {
    box-shadow: 5px 7px 23px yellowgreen;
    transition: 1s;
}

.shadow2 {
    transition: 1.4s;
}

.shadow:hover {
    box-shadow: 5px 7px 8px yellowgreen;
    transition: .6s;
}

.shadow2:hover {
    box-shadow: 6px 6px 30px 20px #F20089 ;
}

/* CUSTOM STYLING */
body {
    background-color: black;
}

/* use flexbox to create navbar */
/* space-between to push nav to right side of flexbox container */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border: #F20089 solid 2px;
    border-radius: 9px;

}

/* remove underline on links */
.nav-container nav a {
    margin: 10px;
    text-decoration: none;
    position: relative;
}

/* Create underline on nav links on hover */
.nav-container nav a:after {
    content: '';
    background: yellowgreen;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2px;
    transition: width .4s;
}

.nav-container nav a:hover:after {
    width: 100%;
}

/* main section flexbox */
.main-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.main-container h1 {
    margin: 3%;
    padding: 20px 40px;
    font-size: 35px;
}

/* space between flexbox items and centering those items */
.flex-item {
    padding: 10px;
    justify-content: center;
    margin-top: 2%;
}
 /* responsive image sizing */
img.flex-item {
    width: 60%;
    height: auto;
    max-width: 700px;
}

/* stying section titles */
.flex-item h2 {
    color: #F20089;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 10px;
}

 .scroll-section {
    width: 85%;
    max-width: 1200px;
}

.scroll-section div {
    margin-top: 2%;
    margin-bottom: 5%;
}

/* styling contact options */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info h3 {
    padding: 25px 40px;
    margin: 10px;
}

.contact-info a {
    text-decoration: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    padding: 15px;
    align-self: center;
    height: auto;
    position: relative;
}

.gal-img {
    border-radius: 25px;
    transition: .333s;
}

.gal-img:hover {
    box-shadow: #f09ecc 4px 4px 20px 3px;
}

.gallery-img img.gal-img {
    max-width: 400px;
}

/* create overlay for the gallery images */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.7);
    color: #f09ecc;
    transition: 1s ease;
    opacity: 0;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin: 0;
}

.gallery-img:hover .overlay {
    opacity: 1;
}

/* this allows the transform below to transition back on mouse leave */
.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.05);
    transition: 1s;
}

footer {
    justify-self: center;
    background-color: #F20089;
    text-align: center;
    opacity: 90%;
}


/* MEDIA QUERIES FOR MOBILE OPTIMIZATION */
@media (max-width: 600px) {
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .gallery-img img#sather {
        max-width: 375px;
    }

    section.main-container h1 {
        font-size: 25px;
    }
}