/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}
/* GLOBAL SELECTORS */

.rcorner {
    border-radius: 40px 7px 40px;
    border: solid 2px #F20089 ;
}

/* CUSTOM STYLING */
body {
    background-color: black;
}

/* use flexbox to create navbar */
/* space-between to push nav to right side of flexbox container */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #2F1825;

}

/* remove underline on links */
.nav-container a {
    margin: 10px;
    text-decoration: none;
}

/* main section flexbox */
.main-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.main-container h1 {
    margin: 3%;
    padding: 20px 40px;
    font-size: 35px;
}

/* space between flexbox items and centering those items */
.flex-item {
    padding: 10px;
    justify-content: center;
    margin-top: 2%;
}
 /* responsive image sizing */
img.flex-item {
    width: 60%;
    height: auto;
    max-width: 700px;
}

/* stying section titles */
.flex-item h2 {
    color: #F20089;
    font-style: italic;
}

 .scroll-section {
    width: 85%;
    max-width: 1200px;
}

/* styling contact options */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info h3 {
    padding: 25px 40px;
    margin: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    padding: 15px;
    align-self: center;
    height: auto;
}

.gallery-img img#sather {
    max-width: 600px;
}

.scale:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* MEDIA QUERIES FOR MOBILE OPTIMIZATION */
@media (max-width: 600px) {
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .gallery-img img#sather {
        max-width: 375px;
    }

}